* {
    box-sizing: border-box;
}

.module-one-card {
    display: inline-block;
    height: 200px;
    margin: 1ex;
    width: 250px;
}

:root {
    --posOne: 1.2;
    --posTwo: 1.4;
    --posThree: 1.6;
}
html, body, main {
    width: 100%;
    padding: 0;
    margin: 0;
    border: 0;
    overflow-x: hidden;
}
body {
    height: 100vh;
    background: linear-gradient(0deg, rgba(250, 250, 250, 0.13), 10%, rgba(0, 0, 0, 1));
    background-repeat: no-repeat;
    background-size: 100%;
}

[class*="projectModule"] {
    background-color: black;
    top: 2rem;
    position: relative;
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    height: 20rem;
    width: 100%;
    overflow-x: auto;
    scroll-behavior: smooth;
}

[class*="projectModule"]::-webkit-scrollbar {
    display: none;
}
.slider {
    left: 0;
    height: 8rem;
    width: 200%;
    display: flex;
    position: absolute;
}
[class*="img"] {
    border-radius: 15px;
    display: inline-block;
    position: relative;
    height: 100%;
    width: 10%;
    background: linear-gradient(to top right, rgba(255, 255, 255, 0.7), rgba(255, 255, 255, 0.3));
    transition: all .3s;
    margin-left: 2rem;
    margin-right: 2rem;
    justify-self: center;
}
[class*="img"]:hover {
    transform: scale(1.5);
}

[class*="projectModule"] .img3.anime, [class*='img'].anima {

    box-shadow: 100px;
    perspective: 1000px;
    transform: scale(1.5);
}

[class*="img"].pAnimate {
    perspective: 500px;
    transform: scale(1.2);
}

#img1, #img5 {
    transform: scale(1.2);
}
#img2, #img4 {
    transform: scale(1.4);
}
#img3 {
    transform: scale(1.6);
}
